.header{
    position: sticky;
    // width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-inline: 20px;
    background-image: linear-gradient(120deg ,  #7376c4 , #d7ffff);
    color: white;
  }